<!DOCTYPE html>
<html lang="es">
  <head>
    {% load static %}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="description" content="Resoluciones" />
    <meta name="author" content="Tesis" />
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="{% static 'img/favicon.ico' %}"
    />
    <title>{% block titulo %}Tesis{% endblock titulo %}</title>

    {% block css %} {% endblock css %}
    <!--Aqui CSS-->
    <link href="{% static 'css/bootstrap.min.css.map' %}" />
    <link
      type="text/css"
      href="{% static 'css/bootstrap.min.css' %}"
      rel="stylesheet"
    />
    <link
      type="text/css"
      href="{% static 'css/Buscador.css' %}"
      rel="stylesheet"
    />
  </head>
  <body class="bg-white">
    <div id="PantallaCarga" class="procesar text-center" style="display: none;">
      <div class="spinner">
        <div class="rect1"></div>
        <div class="rect2"></div>
        <div class="rect3"></div>
        <div class="rect4"></div>
        <div class="rect5"></div>
      </div>
      <p class="textoSpinner">
        Procesando solicitud.
      </p>
    </div>
    {% block contenido %}
    <!--Aqui si cargan los templates-->
    {% endblock contenido %}

    <!--Aqui JS-->
    <script type="text/javascript" src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/popper.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/Buscador.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
    {% block Js %} {% endblock Js %}
  </body>
</html>
